body{
    background-image: url("../images/silver-2143730_1280.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin-top: 1em;
}

.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: rgb(226, 116, 112, 0.6);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background:rgb(255, 255, 255, 0.6);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: rgb(226, 116, 112, 0.6);
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.fa-apple {
    font-size: 200px;
    text-align: center; !important;
}