body {
    background-image: url("../images/penguins/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



.card-columns .card{
    width: 22em;
    height: 22em;
    margin: 3em 1em 3em 1em;
    background-color: rgba(211, 208, 208, 0.6);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition-duration:250ms;

}

.card:hover{
    background-color: rgba(226, 116, 112, 0.8);
    transform: scale(1.2,1.2);
    z-index:1;
    box-shadow: none;
    transition-duration:250ms;
}

.card-img-top{
    width: 90%;
    height: 15em;
    margin: 1em 1em 1em 1em;
    border-radius: 5px;
   object-fit: cover;
}

.card h5{
    text-align: center;
    font-family: monospace;
    font-variant: small-caps;
}

.jumbotron{
    background-image: url("../images/penguins/tux2.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom right ;
    /* opacity: 0.8; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(216, 213, 213, 0.6);
    height: 30em;
    width: 100%;
}

