body {
    background-image: url("../images/penguins/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.card-columns .card{
    width: 22em;
    height: 22em;
    margin: 3em 1em 3em 1em;
    background-color: rgba(211, 208, 208, 0.6);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.card:hover{
    background-color: rgba(226, 116, 112, 0.8);
}

.card-img-top{
    width: 90%;
    height: 15em;
    margin: 1em 1em 1em 1em;
    border-radius: 5px;
   object-fit: cover;
}

.card h5{
    text-align: center;
    font-family: monospace;
    font-variant: small-caps;
}

.jumbotron{
    background-image: url("../images/penguins/tux_head.png");
    background-size: 100% ;
    background-position: bottom left;
}

.my_card {
    border-right: 5px;
    border-left: 5px;
}

