
.monospace{
    font-family: 'Courier New', Courier, monospace;

}

body {
    background-image: url("../images/penguins/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.navbar{
    background-color: rgb(226, 116, 112);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4); /* Rajoute une ombre à la nav */
    font-variant: small-caps;
}

h1{
    font-variant: small-caps; /* Met le text en petite majuscule */
}

.dropdown-item{
    background-color: transparent;
}

.nav-link{
    color: white;
    font-family: monospace;
}

nav img{
    width: 25px; 
    height: 25px;
}

.navbar .navbar-brand{
    font-size: 25px;
    color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: whitesmoke;
    background-color: rgba(192, 192, 192, 0.3);
    text-shadow: 2px 2px 4px #000000;
    border-radius: 15px;
    /* padding: 5px 15px 5px 15px; */
}

.jumbotron{
    background-image: url("../images/bg12.jpg");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    /* background-size: 100% 100%; */
    background-size: 100% 100%;
    height: 30em;
    width: 100%;
}

.jumbotron .container{
    padding-top: 7.5em;
}

.jumbotron h1, .jumbotron h3{
    font-variant: small-caps; /* Met le text en petite majuscule */
    text-shadow: 2px 20px 14px black;
}

.jumbotron h1{
    font-size: 8em;
    color: black;
}
.jumbotron h3{
    font-size: 2.5em;
    color: whitesmoke;
    text-shadow: 3px 1px 1px black;
}

.dropdown-item{
    background-color: transparent;
}

.nav-link{
    color: white;
    /* padding: 5px 25px 5px 25px;  */
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: whitesmoke;
    background-color: rgba(192, 192, 192, 0.3);
    text-shadow: 2px 2px 4px #000000;
    border-radius: 15px;
    /* padding: 5px 15px 5px 15px;  */
}

@media screen and (max-width: 767px){
    .jumbotron h3{
        font-size: 1.5em;
        text-align: center;
    }
    .jumbotron h1{
        font-size: 3.5em;
        text-shadow: 2px 2px 4px #fdfdfd;
        text-align: center;
    }
    .jumbotron{
        height: 20em;
    }
    .jumbotron .container{
        padding-top: 5em;
    }
}


.card-columns .card{
    width: 22em;
    height: 22em;
    margin: 3em 1em 3em 1em;
    background-color: rgba(211, 208, 208, 0.6);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition-duration:250ms;

}

.card:hover{
    background-color: rgba(226, 116, 112, 0.8);
    transform: scale(1.2,1.2);
    z-index:1;
    box-shadow: none;
    transition-duration:250ms;
}

.card-img-top{
    width: 90%;
    height: 15em;
    margin: 1em 1em 1em 1em;
    border-radius: 5px;
    object-fit: cover;
}

.card h5{
    text-align: center;
    font-family: monospace;
    font-variant: small-caps;
}

.jumbotron{
    background-image: url("../images/penguins/tux2.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom right ;
    /* opacity: 0.8; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(216, 213, 213, 0.6);
    height: 30em;
    width: 100%;
}

.modal-header{
    background-color: rgba(226, 116, 112, 0.8);
    color: whitesmoke;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 4px #000000;
}
.modal-body{
    padding-top: 3em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}
.modal h4{
    font-family: monospace;
    font-variant: small-caps;
    font-size: 3em;
}
.modal h5, .modal h6{
    text-align: center;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 2em;
}
.modal li{
    font-family: monospace;
    font-variant: small-caps;
    font-size: 1em;
}
.modal p{
    font-family: sanssherif;
    overflow: auto;
}
.modal .btn{
    background-color: silver;
}

.modal-content {
    opacity
}


.footer{
    background-color: rgb(226,116,112);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 35px
}


.footer a{
    font-family: monospace; 
    color: white;
}

.footer .nav-link{
    padding-top: 0;
    padding-right:2em;
}

.footer img{
    max-height: 2.3em;
    max-width: 2.3em;
    margin-right: 15px;

}

.footer h2{
    font-variant: small-caps;
    font-size: 2em;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -15px;
}

.footer #address{
    margin-left: 7em;
    font-family: monospace;
    color: white;

}

.collumn-right h3{
    font-variant: small-caps;
    color: white;
}
.collumn-right .form-group{
    font-family: monospace;
    color: white;
    font-size: 1.5em;
}

.collumn-right .col-form-label{
    padding-top: 0em;
    padding-right: 0em;
}
.collumn-right .btn{
    background-color: rgb(76,74,74);
    color: white;
}

.collumn-right .form-control{
    font-size: 0.5rem;
}
/********Media queries Footer***********/
@media (max-width: 768px){
    .footer h2{
        font-size: 1.5em;
    }

    .footer #address{
        font-size: 0.8em;
        margin-left: 7em;
    }

    .footer-link{
        margin-left: 15%;
        margin-right: 15%;
    }

    .collumn-right .form-group label{
        font-size: 0.8em;
        margin-right: 1.8em;
    }

    .collumn-right{
        padding-right: 2em;
        margin-top: 1em;
    }
}

