#portfolio .portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

#portfolio .portfolio-item {
    margin: 0;
    font-weight: 700;
}

#portfolio .portfolio-item img {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    width: 100%;
}

#portfolio .portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.line1 {
    border:25px solid #ffffff;
}

/*.child1 {
    margin-left: 220px;
}*/





h2{
    font-family: Courier;
    font-size: 40px;
}

.fa-caret-down, .fa-caret-up, .fas {
    color: lightcoral;
}

.text1 {

    color: white;
    font-size: 30px;
    font-family: "Courier New";
    text-shadow:3px 2px 2px black;
    margin: 0;
    font-variant: small-caps ;
    font-weight: 700;


}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .text1 {

    color: white;
    font-size: 24px;
    font-family: "Courier New";
    text-shadow:3px 2px 2px black;
    margin: 0;
    font-variant: small-caps ;
    font-weight: 600;


    }


}

.center{
    margin: 25px auto;
    float:none;

}
